<div class="page-layout" fxLayout="column">
  <h1>GUIDES:</h1>
  <mat-divider></mat-divider>
  <div class="main-container" fxLayout="column">
    <div>
      <mat-form-field class="md-field">
        <mat-label>Search</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div class="courses-container">
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Soldering Essentials</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Setting Up and Electronics Bench</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>2020 Web Development Trends</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Visual Studio Code </h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Netlify Deployment</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Angular Material Design</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Setting up Firebase with Angular</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>CSS Variables</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>CSS Animations</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Github for Source Control</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
    </div>
  </div>
</div>
