.wrapper {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.layout-container {
    margin: 0px;
}
.mat-card {
    margin: 10px;
    max-height: 150px;
}
.main-container {
    margin: 0px;
    flex-grow: 1
}

.particles.container {
    display: flex;
    max-height:100px;
}