
<div class="wrapper" fxLayout="column" fxFlex>
    <mat-toolbar color="primary" fxLayout="row">
        devmax.io
        <mat-nav-list fxLayout="row">
            <mat-list-item>COURSES</mat-list-item>
            <mat-list-item>LESSONS</mat-list-item>
            <mat-list-item>TOPICS</mat-list-item>
            <mat-list-item>ARTICLES</mat-list-item>
        </mat-nav-list>

    </mat-toolbar>
    <div class="main-container">
        <mat-card class="cta-container">
            <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>
            Here's where the full-width banners and ads will go
        </mat-card>
        <mat-card class="stat-container">
            Here's where I'm going to display some stats about the site: number of courses, lectures, duration of trainings, etc
        </mat-card>
        <mat-card class="tag-container">
            <mat-chip-list>
                <mat-chip>Electrical Engineering</mat-chip>
                <mat-chip>Telecom Design</mat-chip>
                <mat-chip>Angular</mat-chip>
                <mat-chip>React</mat-chip>
            </mat-chip-list>
        </mat-card>
        <mat-card class="feed-container">
            Here's where recent videos and articles will go (infinite scroll)
        </mat-card>
        <mat-card class="browse-courses">
            Here's where you can browse a horizontal slider for courses followed by a grid
        </mat-card>
        <mat-card class="testimonial-container">
            Here's where I'm going to display some user reviews
        </mat-card>
    </div>
    <mat-toolbar color="primary">San Francisco, CA</mat-toolbar>
</div>

