<div class="page-container">
  <div id="preload" class="banner-container parallax" fxLayoutAlign="center center">
    <div class="banner-text">
      <h1>MODERN ENGINEERING TUTORIALS & COURSES</h1>
      <h2>
        Learn Modern Engineering & Technology with DevMax.io
      </h2>

      <button mat-stroked-button pageScroll (click)="scrollInsideBasic()" id="startNestedScrollingButton">
        Become a Pro Member
      </button>
      <button mat-stroked-button pageScroll (click)="scrollInsideBasic()" id="startNestedScrollingButton2">
        👋 Browse Courses
      </button>

    </div>
  </div>


</div>
<app-stats class="static"></app-stats>
<app-browse-tags></app-browse-tags>
<app-newsletter></app-newsletter>
<app-feed></app-feed>
<app-browse-courses id="basicScrollTarget" #basicScrollTartget></app-browse-courses>
<app-reviews></app-reviews>
<app-cta></app-cta>
