<div class="stat-container" fxLayout="row" fxFlex>
    <mat-card fxLayout="column" fxFlex>
        <mat-card-title>
            408 Video Lessons
        </mat-card-title>
    </mat-card>
    <mat-card fxLayout="column" fxFlex>
        <mat-card-title>
            12 Courses
        </mat-card-title>
    </mat-card>
    <mat-card fxLayout="column" fxFlex>
        <mat-card-title>
            554 Hours of Instruction
        </mat-card-title>
    </mat-card>
    <mat-card fxLayout="column" fxFlex>
        <mat-card-title>
            61 Articles
        </mat-card-title>
    </mat-card>
</div>