<div class="page-layout" fxLayout="column">
  <h1>COURSES:</h1>
  <mat-divider></mat-divider>
  <div class="main-container" fxLayout="column">

    <div class="courses-container" fxLayout="row">
      <div class="filter-container" fxLayout="column">
        <app-course-filter></app-course-filter>
      </div>
      <div class="courses-list">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="bold">Recent</mat-button-toggle>
          <mat-button-toggle value="italic">Popular</mat-button-toggle>
          <mat-button-toggle value="underline">Trending</mat-button-toggle>
        </mat-button-toggle-group>
        <div class="course-item" fxlayout="row" style="display: flex;" routerLink="./../detail">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              height="185px">

          </div>
          <div class="course-description" fxLayout="column" fxFlex>
            <h3>Alternating Current (AC) Fundamentals</h3>
            <div class="instructor-container" fxLayout="row" fxLayoutAlign="start center" style="color: white;">
              <button mat-icon-button>
                <img class="team-avatar"
                  src="https://firebasestorage.googleapis.com/v0/b/estibase-dev.appspot.com/o/people%2Fcat.jpg?alt=media&token=11b557b7-2962-4361-98aa-a73d7e5377d8"
                  min-width="36px" height="36px">
              </button>
              <p style="font-style:italic;color: white !important;">Max M. Geller </p>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
              <i class="fas fa-star"></i> <i class="fas fa-star-half"></i> 4.7 (198 Reviews)
            </div>
            <p style="font-style:italic;color:white;">26hrs, 13 Sections </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.</p>


            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-stroked-button>Enroll</button>
              <button mat-stroked-button>Share</button>
              <button mat-stroked-button> <i class="fal fa-heart"></i> Wishlist </button>
              <mat-chip-list>
                <mat-chip style="font-size: 12px;">Power Systems</mat-chip>
                <mat-chip style="font-size: 12px;">Electrical</mat-chip>
              </mat-chip-list>
            </div>
            <h2>$35.99</h2>

          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row ">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>DC Fundamentals</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>FAA Part 107 Exam Prep</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Modern Networking</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Javascript </h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Power BI</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Tableau Fundamentals</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Typescript Design Patterns</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Angular 10</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>React Fundamentals</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Understanding Typescript</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>NFPA 70/NEC Essentials</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>FPV Quads</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Electrical Signals</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Generators</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Power Systems Design: Commercial</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>AC Motors</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Grounding & Bonding</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>

        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Lighting Design</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Amplifiers, Rectifiers</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>PCB Design</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>RxJS</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Electrical Circuits</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Network Cabling</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Networking Design</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Electrical Systems Design: Residential</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Estimating Electrical Systems</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Telecom Estimating</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Power Systems Design: Industrial</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>AutoDesk REVIT For Commercial Electrical Design</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Power System Design Calculations</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>NoSQL Data Modeling</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Linear Equations</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>

        <mat-divider></mat-divider>
        <div class="course-item" fxlayout="row wrap">
          <div class="course-image" fxLayout="column">
            <img
              src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
              width="155px">
          </div>
          <div class="course-description" fxLayout="column">
            <h3>Engineering Mathematics</h3>
            <h5>Everything you need to know about alternating current.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
