<div class="page-wrapper">
    <mat-card class="cta-container">
    <mat-card>Here's the stuff</mat-card>

    </mat-card>
    <mat-card class="stat-container">
    Here's where I'm going to display some stats about the site: number of courses, lectures, duration of trainings, etc
    </mat-card>
    <mat-card class="tag-container">
    <mat-chip-list>
        <mat-chip>Electrical Engineering</mat-chip>
        <mat-chip>Telecom Design</mat-chip>
        <mat-chip>Angular</mat-chip>
        <mat-chip>React</mat-chip>
    </mat-chip-list>
    </mat-card>
    <mat-card class="feed-container" fxLayout="row">
    <mat-card class="feed-item" fxLayout="column" fxFlex>
        Here's a feed item
    </mat-card>
    <mat-card class="feed-item" fxLayout="column" fxFlex>
        Here's a feed item
    </mat-card>
    <mat-card class="feed-item" fxLayout="column" fxFlex>
        Here's a feed item
    </mat-card>
    <mat-card class="feed-item" fxLayout="column" fxFlex>
        Here's a feed item
    </mat-card>
    </mat-card>
    <mat-card class="browse-courses">
    Here's where you can browse a horizontal slider for courses followed by a grid
    </mat-card>
    <mat-card class="testimonial-container">
    Here's where I'm going to display some user reviews
    </mat-card>
</div>